* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --color-black: black;
  --color-white: white;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
ul,
ol,
li {
  list-style: none;
}
.dark-mode {
  --color-black: white;
  --color-white: black;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
.hidden {
  display: none !important;
}
body {
  background-color: var(--color-white);
  transition: all 0.5s;
}
header {
  padding: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.sun,
.moon {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.sun span,
.moon span {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-black);
}
.sun i,
.moon i {
  color: var(--color-black);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.users {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  h1 {
  color: var(--color-black);
  font-size: 32px;
  font-weight: 700;
}
.fa-person {
  color: var(--color-black);
  font-size: 30px;
}
}
ul {
  width: 70%;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--color-black);
}
li {
  font-size: 20px;
  margin-top: 30px;
  color: var(--color-black);
}